<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <link rel="stylesheet" type="text/css"
    th:href="@{/css/style.css}">
</head>
<body>
<h1>Car List</h1>

<br/><br/>
<div>
    <table border="1">
        <tr th:each="car : ${list}">
        <td th:utext="${car.brand}">...</td>
        <td th:utext="${car.model}">...</td>
        <td th:utext="${car.series}">...</td>
    </table>
</div>
</body>
</html>